.bigger {
    font-size: 18px;
    font-weight: bold;
    color: brown;
    
  
}

.passion {
    color: teal;
    font-weight: bold;
font-size: 18px;
}


@media screen and (min-width: 993px) {
    .mobileShow {
      display: none;
  }
  
    .desktopShow {
      display: block;
    }
   
   
  
  }

  @media screen and (max-width: 992px) {
    .mobileHide {
      display: none;
    }
    .desktopShow {
      display: none;
    }
    .mobileShow {
      display: block;
  }

}